{% extends 'steamauth/user_list.html' %}
{% block title %}{{ auser }} &gt; {{ block.super }}{% endblock %}
{% block content %}
				<div class="col-md-12">
					<div class="row">
						<div class="page-header">
							<span class="pull-right"><div class="btn-group">{% if user.is_authenticated %}<a class="btn" rel="tooltip" title="Requires an open Steam window" href="steam://friends/add/{{ auser.steamid }}">Add on Steam</a>{% endif %}</div></span>
							<h1><img src="{{ auser.avatar }}" /> {{ auser }}<small>{% if auser.is_staff %} <span class="label label-{{ auser.is_hero|yesno:'important,info' }}">Staff</span>{% endif %}{% if not auser.is_active %} <span class="label label-important">Suspended</span>{% endif %}</small></h1>
						</div>
						<dl class="dl-horizontal">
							{% if auser.profile_url %}
							<dt>Vanity URL</dt>
							<dd><a href="{{ auser.profile_url }}">{{ auser.profile_url }}</a></dd>
							{% endif %}
							<dt>SteamID64</dt>
							<dd>{{ auser.steamid }}</dd>
							<dt>SteamID32</dt>
							<dd>{{ auser.steamid32 }}</dd>
						</dl>
					</div>
					<div class="row">
						<h3>Team history</h3>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Team</th>
									<th>Joined at</th>
									<th>Left at</th>
								</tr>
							</thead>
							<tbody>
								{% for membership in auser.membership_set.all %}
								<tr>
									<td><a href="{{ membership.team.get_absolute_url }}">{{ membership.team }}</a></td>
									<td>{{ membership.joined_at }}</td>
									<td>{{ membership.left_at|default_if_none:"-" }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div><!--/span-->
{% endblock %}