{% extends 'tournament/tournament_details.html' %}
{% block title %}Teams &gt; {{ block.super }}{% endblock %}
{% block tournament_content %}
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Rank</th>
								<th>Team name <small class="muted">Team tag</small></th>
								<th>Points</th>
								<th rel="tooltip" title="Match points">MP</th>
								<th rel="tooltip" title="Matches played">M</th>
								<th rel="tooltip" title="Default losses">DL</th>
								<th>Wins</th>
								<th>Loss</th>
								<th rel="tooltip" title="Match points for">Mp+</th>
								<th rel="tooltip" title="Match points against">Mp-</th>
							</tr>
						</thead>
						<tbody>
							{% for entry in team_entries %}
							<tr>
								<td{% if not entry.is_alive %} class="muted"{% endif %}>{{ forloop.counter }}</td>
								<td><a href="{{ entry.team.get_absolute_url }}">{{ entry.team }}</a> <small class="muted">{{ entry.team.tag }}</small></td>
								{% comment %} <td><strong>{{ entry.ladder_points }}</strong></td>
								<td>{{ entry.match_points }}</td>
								<td>{{ entry.matches_played }}</td>
								<td>{{ entry.forfeits }}</td>
								<td>{{ entry.ladder_points_won }}</td>
								<td>{{ entry.ladder_points_lost }}</td>
								<td>{{ entry.match_points_won }}</td>
								<td>{{ entry.match_points_lost }}</td> {% endcomment %}
							</tr>
							{% empty %}
							<tr>
								<td colspan="10">No teams found!</td>
							</tr>
							{% endfor %}
					</table>
{% endblock %}