body {
	padding-top: 60px;
	padding-bottom: 40px;
}

#openid {
	position: relative;
	top: -1px;
}

.navbar-form {
	position: relative;
	top: 2px;
}

.avatar-small {
	width: 24px;
	min-width: 24px;
	border: 1px #fff solid;
}
